name: 'Publish Conda Package'

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

env:
  ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_TOKEN }}

jobs:
  build-and-publish:
    # Build on a single OS since this is a noarch: python package
    # noarch packages can be installed on any platform
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - name: Checkout repo
      uses: actions/checkout@master

    - name: Get version identifier
      id: get_version
      run: |
        echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/v}
        echo ${GITHUB_REF#refs/tags/v}

    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        miniconda-version: "latest"
        auto-update-conda: true
        auto-activate-base: false
        activate-environment: anaconda-client-env
        environment-file: conda-recipe/environment.yml

    - name: Build package and publish
      run: |
        conda config --set anaconda_upload yes
        conda build -c conda-forge  .
      env:
        RINGCLOSINGMM_VERSION: ${{ steps.get_version.outputs.VERSION }}

